# Folders to ignore
/experiments
/src/__pycache__
/src/.ipynb_checkpoints
/.ipynb_checkpoints
/__pycache__
/images
/.DS_Store
/mlruns
/outputs
/models

# Ignore dataset
*.pkl
*.csv
*.xlsx

# Ignore presentation
*.pptx

